{% extends 'base.html' %}

{% block title %}
Update Post
{% endblock %}

{% block css%}
{% endblock %}

{% block js%}
{% endblock %}

{% block header %}
Update Post
{% endblock %}

{% block blog.active %}
active
{% endblock %}

{% block content %}
<form method="POST">
{% csrf_token %}
<p>title:</p>
<input type="text" name="title" maxlength="200" required="" id="id_title", value="{{ post.title }}">

<br><br>

<p>page title:</p>
<input type="text" name="page_title" maxlength="100" required="" id="id_page_title", value="{{ post.page_title }}">

<br><br>

<p>content:</p>
<textarea name="content" cols="40" rows="10" required="" id="id_content">{{ post.content }}</textarea>

<br><br>

<p>category:</p>
<select name="category" id="id_category">
  <option value="general">General</option>

  <option value="technology">Technology</option>

  <option value="celebrity">Celebrities</option>

  <option value="computers">Computers</option>

  <option value="educational">Educational</option>

  <option value="travel">Travel</option>

  <option value="kids">Kids</option>

  <option value="gaming">Gaming</option>

  <option value="diy">Diy</option>
</select>
<br><br>

<p>visibility:</p>
<select name="visibility" id="id_visibility">
  <option value="public">Public</option>

  <option value="private">Private</option>

</select>

<br><br>

<p>status:</p>
<select name="status" id="id_status">
  <option value="draft">Draft</option>

  <option value="published">Published</option>

</select>

<br><br>

<p>name for link 1:</p>
<input type="text" name="l1" maxlength="150" id="id_l1", value="{{ post.l1 }}">
<p>link 1:</p>
<input type="text" name="ext_link1" maxlength="100" id="id_ext_link1", value="{{ post.ext_link1 }}">

<br><br>

<p>name for link 2:</p>
<input type="text" name="l2" maxlength="150" id="id_l2", value="{{ post.l2 }}">
<p>link 2:</p>
<input type="text" name="ext_link2" maxlength="100" id="id_ext_link2", value="{{ post.ext_link2 }}">

<br><br>

<p>name for link 3:</p>
<input type="text" name="l3" maxlength="150" id="id_l3", value="{{ post.l3 }}">
<p>link 3:</p>
<input type="text" name="ext_link3" maxlength="100" id="id_ext_link3", value="{{ post.ext_link3 }}">

<br><br>

<p>name for link 4:</p>
<input type="text" name="l4" maxlength="150" id="id_l4", value="{{ post.l4 }}">
<p>link 4:</p>
<input type="text" name="ext_link4" maxlength="100" id="id_ext_link4", value="{{ post.ext_link4 }}">

<br><br>

<p>name for link 5:</p>
<input type="text" name="l5" maxlength="150" id="id_l5", value="{{ post.l5 }}">
<p>link 5:</p>
<input type="text" name="ext_link5" maxlength="100" id="id_ext_link5", value="{{ post.ext_link5 }}">
<br><br>
<button type="submit" class="btn btn-success">update</button>
<a href="{% url 'blogview' %}"><button type="button" class="btn btn-primary">back</button></a>
</form>
{% endblock %}